


.style{
    border-style: dotted;
    color: rgb(216, 32, 32);
   

}
.inner{
    border-style: solid;
    color: chartreuse;
    
        border-style: solid;
        color: chartreuse;
    
}
p{
    color: blue;
}

